In [25]:
import numpy as np
import pandas as pd
import scipy.io
from matplotlib import pyplot as plt
%matplotlib inline

In [40]:
fn = '/data/home/liutongya/data/doi_10.5061_dryad.gp40h__v1/tracks.txt'
df = pd.read_csv(fn)
ind = (df.Lon > 95) & (df.Lon < 130) & (df.Lat > -5) & (df.Lat < 35)

df_new = df[ind]
df_new

,Track_Index,Lat,Lon,Date_Index,Eddy_Index,Fake_Flag,Cyc
11131,447,10.086082,95.654000,1,523,0,1
11132,447,10.066421,95.537793,2,516,0,1
11133,447,10.076492,95.388174,3,518,0,1
11134,447,10.093129,95.313398,4,510,0,1
11135,447,10.133219,95.164353,5,509,0,1
...,...,...,...,...,...,...,...
36662731,2758099,26.868562,124.765593,7305,699,0,-1
36662732,2758100,33.464827,125.433163,7304,704,0,-1
36662733,2758100,33.547786,125.370904,7305,707,0,-1
36662736,2758102,-4.667524,126.439623,7304,713,0,-1
36662737,2758102,-4.635968,126.351962,7305,715,0,-1

In [42]:
df.shape

(36662978, 7)

In [41]:
df_new.shape

(649583, 7)

In [43]:
df_new.to_csv('tracks_scs.csv', index=None)

In [44]:
df = pd.read_csv('tracks_scs.csv')
df

,Track_Index,Lat,Lon,Date_Index,Eddy_Index,Fake_Flag,Cyc
0,447,10.086082,95.654000,1,523,0,1
1,447,10.066421,95.537793,2,516,0,1
2,447,10.076492,95.388174,3,518,0,1
3,447,10.093129,95.313398,4,510,0,1
4,447,10.133219,95.164353,5,509,0,1
...,...,...,...,...,...,...,...
649578,2758099,26.868562,124.765593,7305,699,0,-1
649579,2758100,33.464827,125.433163,7304,704,0,-1
649580,2758100,33.547786,125.370904,7305,707,0,-1
649581,2758102,-4.667524,126.439623,7304,713,0,-1
649582,2758102,-4.635968,126.351962,7305,715,0,-1

In [24]:
fn = '/data/home/liutongya/data/doi_10.5061_dryad.gp40h__v1/1994/anticyc_19940101.mat'

data = scipy.io.loadmat(fn)['ant_eddies']
data[0][0][0]

array([[(array([[33]], dtype=uint8), array([[11.28706612]]), array([[4.88543955]]), array([[33.91961602]]), array([[0, 0, 0, 0, 0, 1, 1, 1, 0],
       [0, 0, 0, 1, 1, 1, 1, 1, 1],
       [0, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 1, 1, 1, 1, 1, 1, 1, 0],
       [1, 1, 1, 1, 1, 1, 0, 0, 0],
       [1, 1, 1, 1, 0, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0, 0, 0, 0]], dtype=uint8), array([[204.5, 190.5],
       [206.5, 190.5],
       [207.5, 191.5],
       [207.5, 194.5],
       [200.5, 198.5],
       [199.5, 198.5],
       [198.5, 197.5],
       [198.5, 196.5]]), array([[0.75]]), array([[0.45833333]]), array([[1035557],
       [1036273],
       [1036274],
       [1036275],
       [1036276],
       [1036277],
       [1036278],
       [    193],
       [    194],
       [    195],
       [    196],
       [    197],
       [    913],
       [    914],
       [    915],
       [    916],
       [    917],
       [   1632],
       [   1633],
       [   1634],
       [   2352],
       [   2353],
       [   2354],
       [   3071],
       [   3072],
       [   3073],
       [   3791],
       [   3792],
       [   3793],
       [   3794],
       [   4512],
       [   4513],
       [   4514]], dtype=int32), array([[1.98]]))]],
      dtype=[('Area', 'O'), ('MajorAxisLength', 'O'), ('MinorAxisLength', 'O'), ('Orientation', 'O'), ('ConvexImage', 'O'), ('Extrema', 'O'), ('Solidity', 'O'), ('Extent', 'O'), ('PixelIdxList', 'O'), ('Intensity', 'O')])